* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
}

.header h2 {
    background-color: rgb(48, 48, 48);
    color: rgb(209, 208, 255);
    text-align: center;
    padding: 10px 0;
}

.container {
    width: 400px;
    height: 400px;
    margin: 20px auto;
    background-color: rgb(48, 48, 48);
    padding: 20px;
    border-radius: 10px;
}

.box{
    display: flex;
    justify-content: space-between;
    width: 350px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.box p{
    color: black;
    margin-top: 10px;
}

.box i {
    color:black;
    font-size: 40px;
    align-self: center;
}
